.buyButton {
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 51%, #4776E6 100%);
  width: 60%;
  border: 0;
}

@media (max-width: 1200px) {
  .buyButton {
      width:100%;
  }
}

.buyButton:hover {
  background: linear-gradient(90deg, #374d9b 0%, #374d9b 100%);
    border: none;
} 


