.buyButton {
    background: linear-gradient(180deg, #6615DC 21.33%, #F03154 100%);
    border: none;
  }

.buyButton:hover {
  background: linear-gradient(90deg, #6615DC 21.33%, #F03154 100%);
    border: none;
}