.giftButton {    
    background: linear-gradient(179.72deg, #31CB9E 30.54%, #18722B 99.54%);
    border: none;
}

.giftButton:hover {    
    background: linear-gradient(90deg, #31CB9E 30.54%, #18722B 99.54%);
    border: none;
}